html {
  font-size: 10px;
}

.nompokemon {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 3rem;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 700;
  text-decoration: rgb(232, 230, 227);
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
}

.typepokemon {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2rem;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 700;
  text-decoration: rgb(232, 230, 227);
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
}

.abilitypokemon {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2rem;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 700;
  text-decoration: rgb(232, 230, 227);
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
}


#statspokemon {
    font-family: Verdana, Geneva, sans-serif;
  font-size: 3rem;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 700;
  text-decoration: rgb(232, 230, 227);
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
}